<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
<body>
    <header>
        <h1>Details Page</h1>
    </header>
    
      <ul>
        <li> <img src="<%= book.image_url %>" /> </li>
        <li id="title"> <%= book.title %> </li>
        <li id="author"> <%= book.author %> </li>
        <li id="description"> <%= book.description %> </li>
        <li>ISBN: <%= book.isbn %> </li>
        <li>Bookshelf: <%= book.bookshelf %></li>
      </ul>

      <%- include('../layout/nav.ejs') %>
      <form method="post" action="/books/details/<%= book.id  %>?_method=put">
        <input type="text"name="author" value="<%=book.author %>" />
        <input type="text"name="title" value="<%=book.title %>" />
        <input type="text"name="image_url" value="<%=book.image_url %>" />
        <input type="text"name="description" value="<%=book.description %>" />
        <input type="text"name="isbn" value="<%=book.isbn %>" />
        <input type="text"name="bookshelf" value="<%=book.bookshelf %>" />
        <button type="submit"> Update</button>
      </form>

</body>
</html>