<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
<body>
    <header>
        <h1>Details Page</h1>
    </header>
    
      <ul>
        <li> <img src="<%= book.image_url %>" /> </li>
        <li id="title"> <%= book.title %> </li>
        <li id="author"> <%= book.author %> </li>
        <li id="description"> <%= book.description %> </li>
        <li>ISBN: <%= book.isbn %> </li>
        <li>Bookshelf: <%= book.bookshelf %></li>
      </ul>

      <%- include('../layout/nav.ejs') %>

</body>
</html>