<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
<body>
  <header>
    <h1>Here's some books:</h1>
</header>

  <% books.forEach( book => { %>
    <ul>
      <li> <img src=" <%= book.cover %>" /> </li>
      <li id="title"> <%= book.title %> </li>
      <li id="author"> <%= book.author %> </li>
      <li id="description"> <%= book.description %> </li>

      <form method="post" action="/books">
        <input class="invisible" name="author" value="<%= book.author %>" />
        <input class="invisible" name="title" value="<%= book.title %>" />
        <input class="invisible" name="isbn" value="<%= book.isbn %>" />
        <input class="invisible" name="image_url" value="<%= book.cover %>" />
        <input class="invisible" name="description" value="<%= book.description %>" />        
        <button>Save to Library</button>
      </form>
    </ul>
  <% }) %>
  <%- include('../layout/nav.ejs') %>
 
</body>
</html>