<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" />
  <title>Results - Book App</title>
</head>
<body>
  <header>
    <h1>Here's some books:</h1>
</header>

  <% books.forEach( book => { %>
    <ul>
      <li> <img src=" <%= book.cover %>" /> </li>
      <li id="title"> <%= book.title %> </li>
      <li id="author"> <%= book.author %> </li>
      <li id="description"> <%= book.description %> </li>

      <form method="post" action="/books">
        <input class="invisible" name="author" value="<%= book.author %>" />
        <input class="invisible" name="title" value="<%= book.title %>" />
        <input class="invisible" name="isbn" value="<%= book.isbn %>" />
        <input class="invisible" name="image_url" value="<%= book.cover %>" />
        <input class="invisible" name="description" value="<%= book.description %>" />        
        <button>Save to Library</button>
      </form>
    </ul>
  <% }) %>

  <button><a href="./searches/new">New Search</a></button>
  <button><a href="/">Home</a></button>
</body>
</html>