<!DOCTYPE html>
<html lang="en">
<%- include('layout/head.ejs') %>


<body>
    <header>
        <h1>Welcome to Book App</h1>
    </header>

    <button><a href="/searches/new">Search for a New Book!</a></button>
    
    <h2>You have <%= bookCounts %> books saved!</h2>

    <% booklist.forEach( book => { %>
        <ul>
            
            <li> <img src="<%= book.image_url %>" /> </li>
           <li id="title"> <%= book.title %> </li>
           <li id="author"> <%= book.author %> </li>

            <form method="get" action="pages/books/details/:id">
                <button><a href="/books/details/<%=book.id%>">Details</a></button>
            </form>
        </ul>
      <% }) %>

</body>
</html>