<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Home - Book App</title>
</head>
<body>
    <header>
        <h1>Welcome to Book App</h1>
    </header>

    <button><a href="./searches/new">Search</a></button>

    <p> you have <%= bookCounts %> </p>

    <% booklist.forEach( book => { %>
        <ul>
          <li> <img src=" <%= book.cover %>" /> </li>
          <li id="title"> <%= book.title %> </li>
          <li id="author"> <%= book.author %> </li>
          <!-- <li id="description"> <%= book.description %> </li> -->
        </ul>
      <% }) %>

</body>
</html>